body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}






#div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 3px solid black;
    background-color: lightgray;
    position: relative;
}
#counter{
    font-size: 50px;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
}
#div2{
    display:flex ;
    margin: 80px;
    gap: 50px;

}
#btn{
    width: 100px;
    height: 50px;

}
#btn1{
    width: 100px;
    height: 50px;
}
.btn2{
position: absolute;
    padding: 20px;
    margin-top:400px;
}