#gap{
    gap: 200px;
display: flex;
flex-direction: column;
    margin-top: 50px;
}






#div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 3px solid black;
    background-color: lightgray;
    position: relative;
    margin: auto;
}
#counter{
    font-size: 50px;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
}
#div2{
    display:flex ;
    margin: 80px;
    gap: 50px;

}
#btn{
    width: 100px;
    height: 50px;

}
#btn1{
    width: 100px;
    height: 50px;
}
.btn2{
position: absolute;
    padding: 20px;
    margin-top:400px;
}








#container{

    width: 300px;
    height: 50vh;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 20px;
    margin: auto ;
    position: relative;
    border-radius: 20px;
}
#container input:hover {
    border-color: blue;
    border: 2px solid blue;
    font-family: 'Arial', sans-serif;
    color: #333;
}








#container {
    width: 300px;
    height: 50vh;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 20px;
    margin: auto ;
    position: relative;
    
}
.login{
position:absolute;
margin-bottom: 330px;
}
#container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#eye{
    position: absolute;
    margin-left: 260px;
    margin-top: 155px;
    cursor: pointer;
    border: none;
    background-color: white;
    }

