body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





#container{

    width: 300px;
    height: 50vh;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 20px;
    margin: auto ;
    position: relative;
}